In [13]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv" 

chipo = pd.read_csv(url, sep='\t')

In [14]:
print("Task 3:")
print(chipo.head(10))

Task 3:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [15]:
total_rows = chipo.shape[0]
print("\nTask 4:")
print(f"Total number of entries: {total_rows}")

Task 4:
Total number of entries: 4622

In [16]:
total_columns = chipo.shape[1]
print("\nTask 5:")
print(f"Total number of columns: {total_columns}")

Task 5:
Total number of columns: 5

In [17]:
print("\nTask 6:")
print(chipo.columns)

Task 6:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [18]:
print("\nTask 7 Output:")
print(chipo.index)

Task 7 Output:
RangeIndex(start=0, stop=4622, step=1)

In [26]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("\nTask 8:")
print(f"Most ordered item: {most_ordered_item}")

Task 8:
Most ordered item: Chicken Bowl

In [27]:

total_items_ordered = chipo['quantity'].sum()
print("\nTask 9:")
print(f"Total number of items ordered: {total_items_ordered}")

Task 9:
Total number of items ordered: 4972

In [28]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("\nTask 10:")
print(f"Most ordered item from 'choice_description': {most_ordered_choice}")

Task 10:
Most ordered item from 'choice_description': [Diet Coke]

In [32]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace('$', '')))

print("\nTask 11:")

Task 11:

In [33]:
total_revenue = chipo['item_price'].sum()
print("\nTask 12:")
print(f"Total revenue: ${total_revenue:.2f}")

Task 12:
Total revenue: $34500.16

In [34]:
total_orders = chipo['order_id'].nunique()
print("\nTask 13:")
print(f"Total number of orders: {total_orders}")

Task 13:
Total number of orders: 1834

In [35]:
average_order_value = total_revenue / total_orders
print("\nTask 14:")
print(f"Average order value: ${average_order_value:.2f}")

Task 14:
Average order value: $18.81

In [36]:
unique_items_sold = chipo['item_name'].nunique()
print("\nTask 15:")
print(f"Total number of unique items sold: {unique_items_sold}")

Task 15:
Total number of unique items sold: 50