In [1]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv" 

chipo = pd.read_csv(url, sep='\t')

In [38]:
print("ex1 Task 3:")
print(chipo.head(10))

ex1 Task 3:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [39]:
total_rows = chipo.shape[0]
print("\nex1 Task 4:")
print(f"Total number of entries: {total_rows}")

ex1 Task 4:
Total number of entries: 4622

In [40]:
total_columns = chipo.shape[1]
print("\nex1 Task 5:")
print(f"Total number of columns: {total_columns}")

ex1 Task 5:
Total number of columns: 5

In [41]:
print("\nex1 Task 6:")
print(chipo.columns)

ex1 Task 6:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [42]:
print("\nex1 Task 7 Output:")
print(chipo.index)

ex1 Task 7 Output:
RangeIndex(start=0, stop=4622, step=1)

In [43]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("\nex1 Task 8:")
print(f"Most ordered item: {most_ordered_item}")

ex1 Task 8:
Most ordered item: Chicken Bowl

In [44]:

total_items_ordered = chipo['quantity'].sum()
print("\nex1 Task 9:")
print(f"Total number of items ordered: {total_items_ordered}")

ex1 Task 9:
Total number of items ordered: 4972

In [45]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("\nex1 Task 10:")
print(f"Most ordered item from 'choice_description': {most_ordered_choice}")

ex1 Task 10:
Most ordered item from 'choice_description': [Diet Coke]

In [46]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace('$', '')))

print("\nex1 Task 11:")

ex1 Task 11:

In [47]:
total_revenue = chipo['item_price'].sum()
print("\nex1 Task 12:")
print(f"Total revenue: ${total_revenue:.2f}")

ex1 Task 12:
Total revenue: $34500.16

In [48]:
total_orders = chipo['order_id'].nunique()
print("\nex1 Task 13:")
print(f"Total number of orders: {total_orders}")

ex1 Task 13:
Total number of orders: 1834

In [49]:
average_order_value = total_revenue / total_orders
print("\nex1 Task 14:")
print(f"Average order value: ${average_order_value:.2f}")

ex1 Task 14:
Average order value: $18.81

In [50]:
unique_items_sold = chipo['item_name'].nunique()
print("\nex1 Task 15:")
print(f"Total number of unique items sold: {unique_items_sold}")

ex1 Task 15:
Total number of unique items sold: 50

In [53]:
count_expensive_products = chipo[chipo['item_price'].apply(lambda x: float(x[1:])) > 10]['item_name'].count()
print("ex2")
print(f"Count of products that cost more than $10: {count_expensive_products}")

ex2
Count of products that cost more than $10: 1130

In [62]:
print("ex3")
ssl._create_default_https_context = ssl._create_unverified_context

url_users = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user" 
users = pd.read_csv(url_users, delimiter='|')

mean_age_per_occupation = users.groupby('occupation')['age'].mean()
print("Mean age per occupation:")
print(mean_age_per_occupation)

ex3
Mean age per occupation:
occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [63]:
print("ex4")
data1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
data2 = pd.DataFrame({'ID': [4, 5, 6], 'Name': ['David', 'Eva', 'Frank']})
data3 = pd.DataFrame({'ID': [1, 2, 3], 'Score': [85, 90, 78]})

all_data = pd.concat([data1, data2]) # Merge along rows

all_data_col = pd.concat([data1, data2], axis=1) # Merge along columns

print("Merged along rows:")
print(all_data)
print("\nMerged along columns:")
print(all_data_col)

ex4
Merged along rows:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    David
1   5      Eva
2   6    Frank

Merged along columns:
   ID     Name  ID   Name
0   1    Alice   4  David
1   2      Bob   5    Eva
2   3  Charlie   6  Frank